<div id="content">
  <div class="header">
    <h1>Lens Of Lakshay</h1>
  </div>
    <div class="gallery-container">
      <div class="row">
          <div class="col-md-4" style="
          display: flex;
          justify-content: center;
          "
       *ngFor="let post of imageList">
            <blockquote
              class="instagram-media"
              [attr.data-instgrm-permalink]="post"
              data-instgrm-version="14"
              style="
                background: #fff;
                border: none;
                border-radius: 3px;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                margin: 1px;
                max-width: 540px;
                min-width: 326px;
                padding: 0;
                width: calc(100% - 2px);
              "
            ></blockquote>
          </div>
      </div>
    </div>
</div>
